<header class="flex justify-end p-5 bg-zinc-700">
  <a class="block px-4 py-2 rounded-lg bg-blue-400 text-white me-3" href="/"> Home</a>
  <a class="block px-4 py-2 rounded-lg bg-blue-600 text-white me-3" href="/myblogs"> MY Blogs</a>
  <a class="block px-4 py-2 rounded-lg bg-green-500 text-white me-3" href="/edituser"> Edit User</a>
  <a class="block px-4 py-2 rounded-lg bg-red-400 text-white me-3" href="/logout"> Logout</a>
  <a class="block px-4 py-2 rounded-lg bg-red-700 text-white" href="/deleteUser"> Delete Account</a>
</header>
